@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global Styles */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width/height */
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  align-items: center;
  color: #fff; /* Set text color to white */
  padding: 1rem;
}

.logo {
  font-size: 24px;
  margin-right: 2rem;
  color: #f9faf8; ;
}

nav ul {
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 1rem;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  background-color: #1F2937;
  text-align: left;
  padding: 80px 0;
  display: flex;
}

.container {
  width: 50%;
  max-width: 960PX;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border: 2px solid green;

}

.hero h1 {
  color: #f9faf8;
  font-weight: 900  ;
  font-size: 48px;

}

.hero p {
  color: #E5E7EB;
  font-size: 18px;

}

button {
  background-color: #3882f6;
  color: #E5E7EB; 
  padding: 5px 25px 5px 25px;
  border-radius: 5px ;
  border: 1px solid #1F2937;
  font-weight: bold;
  margin-top: 10px;
}

.side {
  color:white
}

.infocontainer {
  padding: 20px;
  background-color: thistle;
  text-align: center;
}

.random{
  text-align: center;
  margin-bottom:10px
  
}

.info-box {
  display: flex;
  justify-content: space-around;
  max-width: auto;
  max-height: auto;
}

.box {
  border: 5px solid goldenrod;

}

.testimonial {
  background-color:#E5E7EB;
  text-align: center;
  padding: 80px 0;
  max-width: auto;

  q {
    text-align: center;
    text-wrap: balance;
  }
}
.author {
  text-align: right;
  margin-top: 25px;
}

.cta {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: darkcyan;
  margin: 50px;
  border-radius: 5px;
}

.cta1 {
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  padding: 40px;
  border: 2px solid green;
}
.cta2 {
  margin-left: 4px;
  border: 2px solid greenyellow;
  align-self: center;

}

footer {
  background-color:red;
  padding: 20px 0;
  text-align: center;
  background-color: aliceblue;
}