@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global Styles */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element's total width/height */
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  align-items: center;
  color: #fff; /* Set text color to white */
  padding: 1rem;
}

.logo {
  margin-right: 2rem;
}

nav ul {
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 1rem;
}

.hero {
  background-color: #1F2937;
  text-align: left;
  padding: 80px 0;
  display: flex;
}

.container {
  width: 50%;
  max-width: 960PX;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border: 2px solid green;

}

.hero h1 {
  color: azure;

}

.hero p {
  color: aliceblue;
}

button {
  color: white;
  background-color: #1F2937;
  padding: 10px;
  border-radius: 15px ;
}

.side {
  color:white
}

.infocontainer {
  padding: 20px;
  background-color: thistle;
  text-align: center;
}

.infocontainer .h2 {
  text-align: center;
}

.info-box {
  display: flex;
  justify-content: space-around;
}

.box {
  border: 5px solid goldenrod;

}

.testimonial {
  background-color:blanchedalmond;
  text-align: center;
  padding: 80px 0;

}

.cta {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: darkcyan;
  margin: 50px;
  border-radius: 5px;
}

.cta1 {
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  padding: 40px;
  border: 2px solid green;
}
.cta2 {
  margin-left: 4px;
  border: 2px solid greenyellow;
  align-self: center;

}

footer {
  background-color:red;
  padding: 20px 0;
  text-align: center;
  background-color: aliceblue;
}